<section id="sidenav">
  <nav>
    <div class="logo">
      <a href="" class="brand">
        <img
          class="logo__img"
          src="https://img.icons8.com/ios-glyphs/30/000000/book-shelf.png"
        />
        <div>BookShelf</div>
      </a>
    </div>
    <div class="nav__items">
      <ul>
        <li>
          <a href="">
            <img
              src="https://img.icons8.com/office/30/000000/show-all-views.png"
            />
            <div>All</div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://img.icons8.com/ios/30/000000/book-stack.png" />
            <div>Library</div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://img.icons8.com/dotty/30/000000/category.png" />
            <div>Categories</div></a
          >
        </li>
        <li>
          <a href=""
            ><img
              src="https://img.icons8.com/ios-glyphs/30/000000/user-group-man-man.png"
            />
            <div>Authors</div></a
          >
        </li>
        <li>
          <a href=""
            ><img
              src="https://img.icons8.com/ios-glyphs/30/000000/filled-star.png"
            />
            <div>Recommended</div></a
          >
        </li>
      </ul>
    </div>
    <div class="user">
      <div class="user__img"></div>
      <div class="user__text">
        <div class="user__text__greetings">Good Morning!</div>
        <div class="user__text__name">Colin Farell</div>
      </div>
    </div>
  </nav>
</section>
