@import "../../../scss/abstracts/functions";
@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

.hero {
  @include flex-center;
  height: 100%;
  app-bod {
    flex: 9;
    height: 100%;
    // border-right: 1px solid black;
  }
  app-heroright {
    flex: 5;
    height: 100%;
  }
}
