@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Set your brand colors
$purple: #8b65e4;
$green: #52d346;
$dark-green: #203f44;
$pink: #e09ba0;
$accent-color: #f9f7fa;
$light-grey: #f5f5f5;
$dark-grey: #161c29;

//font-sizes
$rg-size: 18px;
$lrg-size: 20px;
$md-size: 28px;
$lg-size: 36px;
$xlg-size: 70px;

// Update global variables
// $family-sans-serif: "Nunito", sans-serif;
$primary-font: "Lato", sans-serif;
$secondary-font: "Raleway", sans-serif;

//brand colors
$primary: $green;
$secondary: $dark-green;
$tertiary: $pink;
$white: $accent-color;

//other colors
$dark-grey: $dark-grey;
$grey: $light-grey;
