<!-- <p>bod works!</p> -->
<section class="bod">
  <div class="container">
    <div class="bod_header">
      <div class="section_title">
        <div>Book of the Day</div>
      </div>
      <div class="pagination">
        <div class="arrow-left">
          <i class="fas fa-arrow-circle-left"></i>
        </div>
        <div class="arrow-right">
          <i class="fas fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="bod_body">
      <app-bodcard></app-bodcard>
    </div>
  </div>
</section>
