<div class="card">
  <img src="../../../assets/book/The_Fault_in_Our_Stars.jpg" />
  <div class="card__details">
    <div class="card__rating">
      <i class="fas fa-star"></i>
      <div>9.6</div>
    </div>
    <div class="card__title">The Fault in our Stars</div>
    <div class="card__author">John Green</div>
    <div class="card__desc">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, totam
      quaerat eligendi earum omnis alias veniam deserunt inventore unde repellat
      recusandae maiores porro eaque ullam
    </div>
    <div class="btns">
      <button class="atl">Add To Library +</button>
      <button class="rn">Read Now</button>
    </div>
  </div>
</div>
